<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for message in messages %}
        <h3>{{message}}</h3>
    {%endfor%}
    <h1>welcome to login page</h1>
     <br> </br>
     <form action="login", method="post">
        {%csrf_token%}
     <label for="input">Username:</label>
     <input type="text", placeholder="enter the username", name="username">
     <br> </br>
     <label for="input">Password:</label>
     <input type="text" placeholder="enter the password", name="password">
     <br> </br>
     <button type="submit">Login</button>
     </form>

</body>
</html>